.mtp-disclosure {
  &, &:visited {
    color: $link-colour;
  }

  span {
    display: inline-block;
    width: 22px;
    height: 14px;
    background: file-url('../mtp_common/images/help-arrows.png') no-repeat -28px;

    @include device-pixel-ratio {
      background-image: file-url('../mtp_common/images/help-arrows@2x.png');
      background-size: 42px 14px;
    }
  }

  @media print {
    display: none;
  }
}

.mtp-disclosure--expanded {
  span {
    background-position: 0;
  }

  @media print {
    display: block;
    color: $text-colour;
    text-decoration: none;

    span {
      display: none;
    }
  }
}

.mtp-disclosure__contents {
  display: none;
}
