.spinner {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  background: file-url('../mtp_common/images/spinner.gif') 0 0 no-repeat;

  @include device-pixel-ratio {
    margin-top: .2em;
    background-image: file-url('../mtp_common/images/spinner@2x.gif');
    background-size: 40px 40px;
  }
}
