// sign-up
.mtp-account-management__sign-up {
  textarea {
    min-height: 120px;
    resize: vertical;
  }
}

// user account management pages
.mtp-account-management .mtp-page-list {
  margin-top: 1em;
}

.mtp-account-management__container {
  .mtp-table {
      width: 100%;
  }

  @include media($max-width: $desktop-breakpoint, $ignore-for-ie: true) {
    overflow-x: scroll;

    .mtp-table {
      min-width: ($desktop-breakpoint + 20px);
    }
  }
}

.mtp-account-management__users {
  td {
    font-size: 0.8em;
  }

  .mtp-inactive-user {
    td, a, a:visited {
      color: $secondary-text-colour;
    }
  }
}

table.mtp-table.mtp-account-management__users td {
  padding-left: 1.25em;
}

.mtp-account-management__request_date, .mtp-account-management__is_manager {
  width: 11em;
}

.mtp-account-management__can_manage {
  min-width: 50px;
  min-height: 25px;
  background: file-url('../mtp_common/images/checkmark.png') 20px 50% no-repeat;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/checkmark@2x.png');
    background-size: 25px 20px;
  }
}

.mtp-account-management__actions {
  width: 5em;

  .mtp-account-management__action {
    display: inline-block;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  a:visited {
    color: $link-colour;
  }
}

form.mtp-account-management__user-form {
  width: 70%;
}

.mtp-account-management__user-desc {
  th, td {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
