// user account management pages
.mtp-account-management {
  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }

  td {
    font-size: 0.8em;
  }

  table tr.mtp-inactive-user {
    td, a, a:visited {
      color: $secondary-text-colour;
    }
  }

  .mtp-account-management__can_manage {
    text-align: center;
  }

  .mtp-account-management__actions {
    width: 8em;

    .mtp-account-management__action {
      display: inline-block;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }

    a:visited {
      color: $link-colour;
    }
  }

  .mtp-page-list {
    margin-top: 1em;
  }
}

form.mtp-account-management__user-form {
  width: 70%;
}
