.mtp-autocomplete-field {
  position: relative;

  .mtp-autocomplete-suggestions {
    border: 2px solid $border-colour;
    background-color: $page-colour;

    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 100;

    a {
      display: block;
      padding: 5px;
    }
  }
}
