$component: Checkbox;

input[type=checkbox].#{$component} {
  $checkbox-size: 50px;

  clip: rect(0, 0, 0, 0);
  overflow: hidden !important;
  position: absolute !important;
  opacity: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 1px;
  height: 1px;
  outline: none;

  + label {
    cursor: pointer;
    margin: 0;
    padding-left: 30px;
    background: file-url('../mtp_common/images/checkbox.png') center center no-repeat;
  }

  &:checked + label {
    background-image: file-url('../mtp_common/images/checkbox-checked.png');
  }

  &:focus + label {
    outline: 3px solid $yellow;
  }

  // Variants

  &.#{$component}--right + label {
    padding: 0 30px 1px 0;
    background-position: 100% 10%;
  }

  &.#{$component}--left + label {
    padding: 0 0 1px 30px;
    background-position: 0 10%;
  }

  &.#{$component}--no-text + label {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    padding: 0;
  }

  @include device-pixel-ratio {
    + label {
      background-image: file-url('../mtp_common/images/checkbox@2x.png');
      background-size: 20px 20px;
    }

    &:checked + label {
      background-image: file-url('../mtp_common/images/checkbox-checked@2x.png');
    }
  }
}
