// date picker control

.form-control.mtp-control-with-date-picker {
  width: 8em;

  @include media(tablet) {
    padding-right: 30px;
  }
}

.mtp-date-picker__control {
  display: none;
}

.js-enabled .mtp-date-picker__control {
  @include media(tablet) {
    display: inline-block;
  }

  width: 24px;
  height: 26px;
  margin-left: -35px;
  margin-right: 11px;
  vertical-align: middle;
  background: file-url('../mtp_common/images/date-picker.png') 0 0 no-repeat;
  color: transparent !important;
  overflow: hidden;
  text-indent: -500px;
  font-size: 1px;
  text-decoration: none;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/date-picker@2x.png');
    background-size: 24px 24px;
  }
}

.mtp-date-picker {
  display: none;
  position: absolute;
  width: 14em;
  border: 2px solid $text-colour;
  background: $page-colour;
  color: $text-colour;
  @include core-19();

  &:focus {
    outline: none;
  }
}

.mtp-date-picker__top {
  overflow: hidden;
  border-bottom: 2px solid $border-colour;
  text-align: center;
}

.mtp-date-picker__prev, .mtp-date-picker__next {
  display: inline-block;
  float: left;
  width: 17px;
  height: 1.6em;
  margin-left: 0.5em;
  margin-right: 1em;
  background: transparent file-url('../mtp_common/images/pagination-sprite.png') 0 50% no-repeat;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/pagination-sprite@2x.png');
    background-size: 34px 14px;
  }
}

.mtp-date-picker__next {
  float: right;
  margin-left: 1em;
  margin-right: 0.5em;
  background-position: -17px;
}

.mtp-date-picker__label {
  line-height: 1.6;
}

.mtp-date-picker__days span, .mtp-date-picker__dates span, .mtp-date-picker__dates a {
  @include box-sizing(border-box);
  display: inline-block;
  width: 2em;
  line-height: 1.6;
  text-align: center;
  border: 2px solid $page-colour;
  text-decoration: none;
}



.mtp-date-picker__dates a {
  &.mtp-date-picker__initial {
    border-color: $link-colour;
  }

  &.mtp-date-picker__today {
    font-weight: bold;
    text-decoration: underline;
  }

  &:visited {
    color: $link-colour;
  }

  &:focus {
    outline: none;
    border-color: $focus-colour;
  }
}
