.mtp-delete-icon, .mtp-undelete-icon {
  display: inline-block;
  margin-top: 0;
  vertical-align: -.3em;
  width: 1em;
  height: 1em;
  background: url(../mtp_common/images/delete-icon.png) 0 0 no-repeat;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    margin-top: .2em;
    background-image: url(../mtp_common/images/delete-icon@2x.png);
    background-size: 11px 11px;
  }
}

.mtp-undelete-icon {
  background: url(../mtp_common/images/undelete-icon.png) 0 0 no-repeat;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url(../mtp_common/images/undelete-icon@2x.png);
    background-size: 11px 11px;
  }
}
