input {
  font-family: inherit;
}

form a.cancel {
  vertical-align: -.3em;

  @include media(tablet) {
    margin-left: 1em;
  }

  &:visited {
    color: $link-colour;
  }
}

.main-content label + * {
  margin-top: 0;
}

.error-summary {
  .error-summary-list {
    .non-field-error {
      color: $error-colour;
      font-weight: bold;
    }

    .field-specific-error ul {
      padding-left: 1em;

      li {
        list-style-type: disc;
        color: $error-colour;
      }
    }
  }
}
