.mtp-language-switch {
  text-align: right;
  padding-top: 0.75em;

  .mtp-language-switch__item {
    border-left: 1px solid $border-color;
    padding: 0 0.6em;

    &.mtp-language-switch__item--first {
      border-left: none;
    }
    &.mtp-language-switch__item--last {
      padding-right: 0;
    }
  }
}

.breadcrumbs + header {
  .mtp-language-switch {
    padding-top: 0;
  }
}
