// Large links styled similarly to radio boxes for making choices within a tree of options

.large-link-list {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    max-width: 600px;
    margin-bottom: 0.8em;
    padding: 0;
    background-color: $grey-3;
  }

  .large-link-list--link {
    display: block;
    padding: 0.7em 40px 0.6em 1.3em;
    border: 1px solid transparent;
    background: transparent file-url('../mtp_common/images/large-link-arrow.png') 98% no-repeat;
    color: $text-colour;
    text-decoration: none;

    @include device-pixel-ratio {
      background-image: file-url('../mtp_common/images/large-link-arrow@2x.png');
      background-size: 22px 22px;
    }

    &:link {
      color: $text-colour;
    }

    &:hover,
    &:active,
    &:focus,
    &:visited {
      border: 1px solid $grey-1;
      background-color: inherit;
      color: $text-colour;
    }

    &:active {
      background-color: $page-colour;
    }

    span {
      display: block;
      font-size: .9em;
      color: $grey-1;
    }
  }
}
