// page lists

.mtp-page-list {
  padding-left: 0;

  li {
    display: inline;

    + li {
      padding-left: .5em;
    }
  }

  @media print {
    display: none;
  }
}

.mtp-page-list__description {
  display: none;

  @media print {
    display: block;
    font-size: 0.75em;
  }
}

a.mtp-page-list__current-page {
  color: $text-colour;
  text-decoration: none;
}

// next/previous page links

.mtp-pagination {
  border-bottom: 1px solid $border-colour;
  display: block;
  margin: 2em 0 0;

  @include media(mobile) {
    margin: 2em 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    font-family: 'nta', Arial, sans-serif;
    font-size: 14px;
    font-size-adjust: .5;
    font-weight: 400;
    line-height: 1.14286;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: none;
    width: 49%;

    @include media(tablet) {
      font-size: 16px;
      line-height: 1.25;
    }

    a {
      background-color: transparent;
      color: $link-colour;
      display: block;
      text-decoration: none;

      &:hover,
      &:active {
        background-color: $highlight-colour;
      }
    }

    &.next, &.previous {
      a:before {
        background: transparent file-url('../mtp_common/images/arrow-sprite.png') no-repeat;
        content: ' ';
        display: block;
        height: 38px;
        width: 30px;

        @include device-pixel-ratio {
          background-image: file-url('../mtp_common/images/arrow-sprite@2x.png');
          background-size: 150px 60px;
        }
      }
    }

    &.next {
      float: right;
      text-align: right;

      a {
        padding: .75em 3em .75em 0;

        &:before {
          background-position: -102px -11px;
          float: right;
          margin: -4px -32px 0 0;

        }
      }
    }

    &.previous {
      float: left;
      text-align: left;

      a {
        padding: .75em 0 .75em 3em;

        &:before {
          background-position: -20px -11px;
          float: left;
          margin: -4px 0 0 -32px;
        }
      }
    }

    @include media(mobile) {
      &.previous,
      &.next {
        float: none;
        width: 100%;
      }

      &.next a {
        text-align: right;
      }
    }
  }
}

.mtp-pagination__label {
  display: block;
  font-family: 'nta', Arial, sans-serif;
  font-size: 20px;
  font-size-adjust: .5;
  font-weight: 400;
  line-height: 1.11111;
  margin-bottom: .1em;
  text-transform: none;

  @include media(tablet) {
    font-size: 27px;
    line-height: 1.25;
  }
}

.mtp-pagination__part-title {
  text-decoration: underline;
}
