$bg-color: $white;
$bg-color-alt: #ededed;
$bg-color-selected: $light-blue-25;
$border-color: $grey-2;

// Fixes

.numeric {
  font-family: ntatabularnumbers;
}

// App specific

table {
  width: auto;
  border-collapse: collapse;

  th, td {
    padding: .75em 1em;

    @media print {
      padding-top: .3em;
      padding-bottom: .3em;
    }

    // modifiers
    &.check {
      text-align: center;
      padding: 5px 1em 0;

      input[type=checkbox] {
        @extend .Checkbox--no-text !optional;
      }
    }

    &.cell--compact {
      padding: .75em 0;
    }

    &.cell--bold {
      font-weight: 700;
    }

    &.flush-right {
      text-align: right;
    }

  }

  .no-border {
    > th, > td {
      border: 0;
    }
  }
}

tbody {
  tr {
    &.is-selected td {
      background: $bg-color-selected;
    }
  }
}
