.main-content {
  border-top: 1px solid transparent;
}

.box-highlight {
  background-color: #0c857b;
  h1, h2 {
    font-size: 36px;
    padding: 0;
    margin: 0 0 .5em 0;
  }
}

.admin {
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
  a.action {
    &:visited {
      color: $link-colour;
    }
  }
}

.phase-tag.phase-tag-dev {
  background-color: #af8748;
  + .phase-banner-message {
    padding-left: 4.8em;
  }
}

#proposition-links {
  color: $page-colour;
}

// Text only for screen readers
.screenreader-only {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

// From govuk_elements but currently missing in mojular
.panel-border-wide {
  border-left-width: 10px;
}
