{% extends 'mtp_common/mtp_base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'This service is currently not available' %}{% endblock %}

{% block inner_content %}
  <h1 class="heading-xlarge">{% trans 'This service is currently not available' %}</h1>

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>{% trans 'Please try again later.' %}</p>
        <p>{% trans 'Sorry, we’re making some changes to this website.' %}</p>
      </div>
    </div>
  </div>
{% endblock %}
