{% extends 'mtp_common/mtp_base.html' %}
{% load i18n %}

{% block head %}
  {{ block.super }}
  <!--[if !IE 8]><!-->
  <meta http-equiv="refresh" content="5;URL={{ new_url }}">
  <!--<![endif]-->
{% endblock %}

{% block page_title %}{% trans 'We have moved' %}{% endblock %}

{% block sub_nav %}
  {{ block.super }}

  <!--[if IE 8]>
  <aside class="mtp-ie-we-have-moved-banner">
    <div>
      <header class="heading-large">{% trans 'Change to Firefox to keep using this service' %}</header>
      <p class="font-medium">
        {% trans 'Your current browser no longer supports this service.' %}
        <br />
        {% trans 'Please use this in Firefox from now on:' %}
      </p>

      <p class="font-medium">{{ new_url }}</p>
    </div>
  </aside>
  <![endif]-->
{% endblock %}

{% block inner_content %}
<!--[if !IE 8]><!-->
  <h1 class="heading-xlarge">{% trans 'We have moved' %}</h1>

  <div class="container">
    <div class="grid-row">
      <div class="column-full">
        <p class="lede">
          {% trans 'You will be automatically redirected in 5 seconds.' %}
        </p>
        <p>
          {% blocktrans %}If not, go to: <br /><a href="{{ new_url }}">{{ new_url }}</a>{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
<!--<![endif]-->
{% endblock %}
