{% extends 'mtp_common/mtp_base.html' %}
{% load i18n %}

{% block head %}
  {{ block.super }}
  <!--[if !IE 8]><!-->
  <meta http-equiv="refresh" content="5;URL={{ new_url }}">
  <!--<![endif]-->
{% endblock %}

{% block page_title %}{% trans 'We have moved' %}{% endblock %}

{% block sub_nav %}
  {{ block.super }}

  <!--[if IE 8]>
  <aside class="mtp-ie-support-banner">
    <div>
      <header class="heading-large">{% trans 'Change to Firefox to continue using this service' %}</header>
      <p class="font-medium">{% blocktrans %}
        You cannot use this service using your current browser, please open {{ new_url }} in Firefox.
        {% endblocktrans %}
      </p>
    </div>
  </aside>
  <![endif]-->
{% endblock %}

{% block inner_content %}
<!--[if !IE 8]><!-->
  <h1 class="heading-xlarge">{% trans 'We have moved!' %}</h1>

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>
          {% trans 'You will be automatically redirected to the site in 5 seconds.' %}
          <br />{% blocktrans %}- or if you are impatient, <a href="{{ new_url }}">click here</a>.{% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
<!--<![endif]-->
{% endblock %}
