{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load widget_tweaks %}

{% block page_title %}{% trans 'Sign in' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">
      <span class="heading-secondary">
        {% block auth_title %}{% trans 'Send money to someone in prison' %}{% endblock %}
      </span>
      {% trans 'Sign in' %}
    </h1>
  </header>

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        <form action="{{ app_path }}" method="post" id="login-form">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">

          {% for field in form %}
            <div class="form-group {% if field.errors %}form-group-error{% endif %}">
              {% include 'mtp_common/forms/field-label.html' with field=field only %}
              {% include 'mtp_common/forms/field-errors.html' with field=field only %}
              {{ field|attr:'autocomplete:off'|add_class:'form-control'|add_error_class:'form-control-error' }}
            </div>
          {% endfor %}

          <div class="form-group">
            <button type="submit" class="button" name="signin">{% trans 'Sign in' %}</button>
          </div>
        </form>

        {% if ENVIRONMENT != 'test' %}
          {% url 'reset_password' as reset_password_url %}
          {% if reset_password_url %}
            <p><a href="{{ reset_password_url }}">{% trans 'Forgotten your password?' %}</a></p>
          {% endif %}
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
