{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_title %}{% trans 'Sign in' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">
            {% block auth_title %}{% trans 'Send money to someone in prison' %}{% endblock %}
          </span>
          {% trans 'Sign in' %}
        </h1>
      </header>

      {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

      <form action="{{ app_path }}" method="post" id="login-form" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        {% for field in form %}
          <div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
            {% include 'mtp_common/forms/field-label.html' with field=field only %}
            {% include 'mtp_common/forms/field-errors.html' with field=field only %}
            {{ field|attr:'autocomplete:off'|add_class:'govuk-input govuk-input--width-20'|add_error_class:'govuk-input--error' }}
          </div>
        {% endfor %}

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button" name="signin">{% trans 'Sign in' %}</button>
        </div>
      </form>

      {% url 'reset_password' as reset_password_url %}
      {% if reset_password_url %}
        <p><a href="{{ reset_password_url }}">{% trans 'Forgotten your password?' %}</a></p>
      {% endif %}

    </div>
  </div>
{% endblock %}
