{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'Your password reset request was successful' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">
          {% trans 'A password reset email has been sent to you' %}
        </h1>
      </header>

      <p>
        {% trans 'Click on the link in the email and you will be able to create a new password.' %}
      </p>
      <p>
        <a href="{{ cancel_url }}">{% trans 'Return to the home page' %}</a>
      </p>

    </div>
  </div>
{% endblock %}
