*.DS_Store
*.py[cod]
*.mo
*.pot
*.egg-info/
.eggs/
build/
dist/
env/
venv/

# sass & node.js
*.sass-cache/
.eslintcache/
node_modules/
npm-debug.log

# app-specific
docs/_build/

# selenium
geckodriver.log
ghostdriver.log
