version: "3.8"

x-environment: &default-environment
  # apps should define their own environment variables and fallbacks;
  # only docker-compose-specific overrides should go here
  PYTHONUNBUFFERED: "1"

  DEBUG: "True"
  ENV: local

  PUBLIC_API_HOST: api:8000
  PUBLIC_CASHBOOK_HOST: cashbook:8001
  PUBLIC_BANK_ADMIN_HOST: bank-admin:8002
  PUBLIC_NOMS_OPS_HOST: noms-ops:8003
  PUBLIC_SEND_MONEY_HOST: send-money:8004

  START_PAGE_URL: http://start-page:8005

services:

  db:
    container_name: mtp_api_db
    image: postgres:10-alpine  # should match version setup in mtp-deploy terraformed rds.db_engine_version
    environment:
      POSTGRES_DB: mtp_api
      POSTGRES_USER: mtp_api
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    container_name: mtp_api
    stdin_open: true
    tty: true
    build:
      context: ../money-to-prisoners-api
      dockerfile: $PWD/Dockerfile-dev
      args:
        ECR_ENDPOINT: ${ECR_ENDPOINT}
        SERVICE: api
        LOCAL_DJANGO_SETTINGS_MODULE: mtp_api.settings.base
    ports:
      - "8000:8000"
      - "3000:3000"
    volumes:
      - ../money-to-prisoners-api:/app
      - api_node_modules:/app/node_modules
    # Uncomment following lines and restart containers to install money-to-prisoners-common in editable mode
    #   - ../money-to-prisoners-common:/money-to-prisoners-common
    # command: >
    #   bash -c "/venv/bin/python /app/run.py python_dependencies --common-path ../money-to-prisoners-common
    #   && /venv/bin/python /app/run.py serve"
    links:
      - db
    user: mtp
    environment:
      <<: *default-environment
      DB_NAME: mtp_api
      DB_USERNAME: mtp_api
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
    command: '/app/docker-entrypoint.sh'

  cashbook:
    container_name: mtp_cashbook
    stdin_open: true
    tty: true
    build:
      context: ../money-to-prisoners-cashbook
      dockerfile: $PWD/Dockerfile-dev
      args:
        ECR_ENDPOINT: ${ECR_ENDPOINT}
        SERVICE: cashbook
        LOCAL_DJANGO_SETTINGS_MODULE: mtp_cashbook.settings.base
    ports:
      - "8001:8001"
      - "3001:3001"
    volumes:
      - ../money-to-prisoners-cashbook:/app
      - cashbook_node_modules:/app/node_modules
    # Uncomment following lines and restart containers to install money-to-prisoners-common in editable mode
    #   - ../money-to-prisoners-common:/money-to-prisoners-common
    # command: >
    #   bash -c "/venv/bin/python /app/run.py python_dependencies --common-path ../money-to-prisoners-common
    #   && /venv/bin/python /app/run.py serve"
    links:
      - api
    user: mtp
    environment: *default-environment

  bank-admin:
    container_name: mtp_bank_admin
    stdin_open: true
    tty: true
    build:
      context: ../money-to-prisoners-bank-admin
      dockerfile: $PWD/Dockerfile-dev
      args:
        ECR_ENDPOINT: ${ECR_ENDPOINT}
        SERVICE: bank-admin
        LOCAL_DJANGO_SETTINGS_MODULE: mtp_bank_admin.settings.base
    ports:
      - "8002:8002"
      - "3002:3002"
    volumes:
      - ../money-to-prisoners-bank-admin:/app
      - bank-admin_node_modules:/app/node_modules
    # Uncomment following lines and restart containers to install money-to-prisoners-common in editable mode
    #   - ../money-to-prisoners-common:/money-to-prisoners-common
    # command: >
    #   bash -c "/venv/bin/python /app/run.py python_dependencies --common-path ../money-to-prisoners-common
    #   && /venv/bin/python /app/run.py serve"
    links:
      - api
    user: mtp
    environment: *default-environment

  noms-ops:
    container_name: mtp_noms_ops
    stdin_open: true
    tty: true
    build:
      context: ../money-to-prisoners-noms-ops
      dockerfile: $PWD/Dockerfile-dev
      args:
        ECR_ENDPOINT: ${ECR_ENDPOINT}
        SERVICE: noms-ops
        LOCAL_DJANGO_SETTINGS_MODULE: mtp_noms_ops.settings.base
    ports:
      - "8003:8003"
      - "3003:3003"
    volumes:
      - ../money-to-prisoners-noms-ops:/app
      - noms-ops_node_modules:/app/node_modules
    # Uncomment following lines and restart containers to install money-to-prisoners-common in editable mode
    #   - ../money-to-prisoners-common:/money-to-prisoners-common
    # command: >
    #   bash -c "/venv/bin/python /app/run.py python_dependencies --common-path ../money-to-prisoners-common
    #   && /venv/bin/python /app/run.py serve"
    links:
      - api
    user: mtp
    environment: *default-environment

  send-money:
    container_name: mtp_send_money
    stdin_open: true
    tty: true
    build:
      context: ../money-to-prisoners-send-money
      dockerfile: $PWD/Dockerfile-dev
      args:
        ECR_ENDPOINT: ${ECR_ENDPOINT}
        SERVICE: send-money
        LOCAL_DJANGO_SETTINGS_MODULE: mtp_send_money.settings.base
    ports:
      - "8004:8004"
      - "3004:3004"
    volumes:
      - ../money-to-prisoners-send-money:/app
      - send-money_node_modules:/app/node_modules
    # Uncomment following lines and restart containers to install money-to-prisoners-common in editable mode
    #   - ../money-to-prisoners-common:/money-to-prisoners-common
    # command: >
    #   bash -c "/venv/bin/python /app/run.py python_dependencies --common-path ../money-to-prisoners-common
    #   && /venv/bin/python /app/run.py serve"
    links:
      - api
    user: mtp
    environment: *default-environment

  start-page:
    container_name: mtp_start_page
    stdin_open: true
    tty: true
    build:
      context: ../money-to-prisoners-start-page
      dockerfile: Dockerfile-dev
      args:
        ECR_ENDPOINT: ${ECR_ENDPOINT}
        SERVICE: start-page
    ports:
      - "8005:8080"
    links:
      - send-money
    user: mtp
    environment: *default-environment

volumes:
  db_data:
  api_node_modules:
  cashbook_node_modules:
  bank-admin_node_modules:
  noms-ops_node_modules:
  send-money_node_modules:
