include LICENSE
include MANIFEST.in
include README.rst
recursive-include mtp_common/assets-src *.scss
recursive-include mtp_common/assets-src *.css
recursive-include mtp_common/assets-src *.js
recursive-include mtp_common/assets-src *.png
recursive-include mtp_common/assets-src *.gif
recursive-include mtp_common/assets-src *.jpg
recursive-include mtp_common/assets-src *.svg
recursive-include mtp_common/static *.css
recursive-include mtp_common/static *.js
recursive-include mtp_common/static *.jpg
recursive-include mtp_common/static *.png
recursive-include mtp_common/static *.svg
recursive-include mtp_common/locale *.po
recursive-include mtp_common/locale *.mo
recursive-include mtp_common/templates *
