{% extends 'mtp_common/user_admin/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'New user request' %} – {{ block.super }}{% endblock %}

{% block admin_header %}
  <header>
    <h1 class="heading-xlarge">{% trans 'New user request' %}</h1>
  </header>
{% endblock %}

{% block admin_content %}
  <p>
    {% trans 'Requested' %}: {{ account_request.created|date:'d/m/Y' }}
  </p>

  <div class="grid-row">
    <div class="column-third">
      {% labelled_data _('Name') account_request.full_name tag='strong' %}
    </div>
    <div class="column-third">
      {% labelled_data _('Email') account_request.email tag='strong' %}
    </div>
    <div class="column-third">
      {% labelled_data _('Username') account_request.username tag='strong' %}
    </div>
  </div>

  {% block sign_up_extras_fields %}{% endblock %}

  {% if account_request.reason %}
    <br />
    <div class="grid-row">
      <div class="column-two-thirds">
        {% labelled_data _('Reason for access') account_request.reason|linebreaksbr tag='strong' %}
      </div>
    </div>
  {% endif %}

  <br />

  <form method="post">
    {% csrf_token %}

    {% include 'mtp_common/forms/checkbox-field.html' with field=form.user_admin only %}

    <div class="form-group">
      <button type="submit" class="button">
        {% trans 'Approve request' %}
      </button>
      <a href="{% url 'decline-request' account_request=account_request.id %}" class="mtp-cancel-button">
        {% trans 'Decline request' %}
      </a>
    </div>
  </form>

{% endblock %}
