{% extends 'mtp_common/user_admin/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{{ page_title }} – {{ block.super }}{% endblock %}

{% block admin_header %}
  <header>
    <h1 class="heading-xlarge">{{ page_title }}</h1>
  </header>
{% endblock %}

{% block admin_content %}
  <p>{% trans 'When you disable a user account, that user will be unable to log in.' %}</p>
  {% include 'mtp_common/user_admin/user-description.html' with user=user only %}

  <form method="post" action=".">
    {% csrf_token %}
    <button type="submit" name="submit" value="submit" class="button">{% trans 'Disable user account' %}</button>
    <a class="cancel" href="{% url 'list-users' %}">{% trans 'Cancel' %}</a>
  </form>
{% endblock %}
