{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="admin">
  <header class="ContentHeader">
    <a href="{% url 'dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1>
      {% blocktrans trimmed with username=user.username %}
        Delete user ‘{{ username }}’
      {% endblocktrans %}
    </h1>
  </header>

  <ul>
    <li>{% blocktrans with username=user.username %}Username: {{ username }}{% endblocktrans %}</li>
    <li>{% blocktrans with first_name=user.first_name %}First name: {{ first_name }}{% endblocktrans %}</li>
    <li>{% blocktrans with last_name=user.last_name %}Last name: {{ last_name }}{% endblocktrans %}</li>
    <li>{% blocktrans with email=user.email %}Email: {{ email }}{% endblocktrans %}</li>
    <li>
        {% trans 'Can manage other users:' %}
        {% if user.user_admin %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
    </li>
  </ul>

  <form method="post" action=".">
    {% csrf_token %}
    <button type="submit" name="submit" value="submit" class="button">{% trans 'Delete user account' %}</button>
    <a class="cancel" href="{% url 'list-users' %}">{% trans 'Cancel' %}</a>
  </form>
</div>
{% endblock %}
