{% extends 'mtp_common/user_admin/list.html' %}
{% load i18n %}

{% block page_title %}{% trans 'Sorry, something went wrong' %} – {{ block.super }}{% endblock %}

{% block admin_content %}
  <p>
    {% blocktrans trimmed %}
      You cannot edit the user account for ‘{{ target_username }}’.
    {% endblocktrans %}
  </p>
  <p>
    <a href="{% url 'submit_ticket' %}?message={{ message|urlencode }}&amp;email={{ request.user.email|urlencode }}">
      {% trans 'Please contact us if you need to change it.' %}
    </a>
  </p>
{% endblock %}
