{% extends 'mtp_common/user_admin/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Manage users' %} – {{ block.super }}{% endblock %}

{% block admin_content %}
  <header>
    <h1 class="govuk-heading-xl">{% trans 'Manage users' %}</h1>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>
        {% trans 'Add, view, edit or disable user accounts.' %}
        {% trans 'When you disable a user account, that user will be unable to log in.' %}
      </p>
      {% if locked_users_exist %}
        <p>
          {% trans 'If a user enters a wrong password too many times, they are locked out for a short period.' %}
          {% trans 'You can allow them to log in now by clicking ‘Unlock’.' %}
        </p>
      {% endif %}

      <p class="govuk-!-display-none-print">
        <a class="govuk-button" data-module="govuk-button" href="{% url 'new-user' %}">{% trans 'Add a new user' %}</a>
      </p>

    </div>
  </div>

  {% if account_requests %}
    <h2 class="govuk-heading-m">
      {% trans 'New user requests' %}
    </h2>

    <div class="mtp-table__container govuk-!-margin-bottom-9">
      <table class="mtp-table">
        <caption class="govuk-visually-hidden">{% trans 'Table of new user requests' %}</caption>
        <thead>
          <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Email' %}</th>
            <th class="mtp-account-management__request_date" scope="col">{% trans 'Requested' %}</th>
            <th class="mtp-account-management__actions govuk-!-display-none-print" scope="col">{% trans 'Actions' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for account_request in account_requests %}
            <tr>
              <td>{{ account_request.first_name }} {{ account_request.last_name }}</td>
              <td>{{ account_request.email }}</td>
              <td class="mtp-account-management__request_date mtp-table__cell--numeric-left">
                {{ account_request.created|date:'d/m/Y' }}
              </td>
              <td class="mtp-account-management__actions govuk-!-display-none-print">
                <a href="{% url 'accept-request' account_request=account_request.id %}">
                  {% trans 'Manage' %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  <h2 class="govuk-heading-m">
    {% trans 'Edit existing users' %}
  </h2>

  <div class="mtp-table__container">
    <table class="mtp-table">
      <caption class="govuk-visually-hidden">{% trans 'Table of existing users' %}</caption>
      <thead>
        <tr>
          <th scope="col">{% trans 'Name' %}</th>
          <th scope="col">{% trans 'Email' %}</th>
          <th class="mtp-account-management__is_manager" scope="col">{% trans 'Can manage accounts' %}</th>
          <th class="mtp-account-management__actions govuk-!-display-none-print" scope="col">{% trans 'Actions' %}</th>
        </tr>
      </thead>

      <tbody>
        {% for user in users %}
          {% if can_delete or user.is_active %}
            <tr class="{% if not user.is_active %}mtp-table__secondary-row{% endif %}">
              <td>{{ user.first_name }} {{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              {% if user.user_admin %}
                <td class="mtp-account-management__can_manage">
                  <span class="govuk-visually-hidden">{% trans 'User can manage other accounts' %}</span>
                </td>
              {% else %}
                <td></td>
              {% endif %}
              <td class="mtp-account-management__actions govuk-!-display-none-print">
                <a href="{% url 'edit-user' username=user.username %}">
                  {% trans 'Edit' %}
                </a>
                {% if can_delete and request.user.username.lower != user.username.lower %}
                  {% if not user.is_active %}
                    <a href="{% url 'undelete-user' username=user.username %}">
                      {% trans 'Enable' %}
                    </a>
                  {% elif user.is_locked_out %}
                    <a href="{% url 'unlock-user' username=user.username %}">
                      {% trans 'Unlock' %}
                    </a>
                  {% else %}
                    <a href="{% url 'delete-user' username=user.username %}">
                      {% trans 'Disable' %}
                    </a>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mtp-page-list__container">
    {% page_list page=page page_count=page_count %}
    <p class="mtp-page-list__count">
      {% blocktrans trimmed count count=user_count %}
        {{ count }} user
      {% plural %}
        {{ count }} users
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
