{% extends 'mtp_common/user_admin/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Manage user accounts' %} – {{ block.super }}{% endblock %}

{% block admin_header %}
  <header>
    <h1 class="heading-xlarge">{% trans 'Manage user accounts' %}</h1>
  </header>
{% endblock %}

{% block admin_content %}
  <p>
    {% trans 'Add, view, edit or disable user accounts.' %}
    {% trans 'When you disable a user account, that user will be unable to log in.' %}
  </p>
  {% if locked_users_exist %}
    <p>
      {% trans 'If a user enters a wrong password too many times, they are locked out for a short period.' %}
      {% trans 'You can allow them to log in now by clicking ‘Unlock’.' %}
    </p>
  {% endif %}

  <p class="print-hidden">
    <a class="button button-secondary" href="{% url 'new-user' %}">{% trans 'Add a new user' %}</a>
  </p>

  <table>
    <thead>
      <tr>
        <th>{% trans 'Username' %}</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Email' %}</th>
        <th>{% trans 'Can manage accounts' %}</th>
        <th class="mtp-account-management__actions print-hidden">{% trans 'Actions' %}</th>
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
        {% if can_delete or user.is_active %}
          <tr class="{% if not user.is_active %}mtp-inactive-user{% endif %} {% if forloop.last %}no-border{% endif %}">
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td class="mtp-account-management__can_manage">
              {% if user.user_admin %}
                ✔ <span class="visually-hidden">{% trans 'User can manage other accounts' %}</span>
              {% endif %}
            </td>
            <td class="mtp-account-management__actions print-hidden">
              <a href="{% url 'edit-user' username=user.username %}" class="mtp-account-management__action">
                {% trans 'Edit' %}
              </a>
              {% if can_delete and request.user.username.lower != user.username.lower %}
                {% if not user.is_active %}
                  <a class="mtp-account-management__action" href="{% url 'undelete-user' username=user.username %}">
                    <span class="mtp-undelete-icon"></span>{% trans 'Enable' %}
                  </a>
                {% elif user.is_locked_out %}
                  <a class="mtp-account-management__action" href="{% url 'unlock-user' username=user.username %}">
                    <span class="mtp-undelete-icon"></span>{% trans 'Unlock' %}
                  </a>
                {% else %}
                  <a class="mtp-account-management__action" href="{% url 'delete-user' username=user.username %}">
                    <span class="mtp-delete-icon"></span>{% trans 'Disable' %}
                  </a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  {% page_list page=page page_count=page_count %}
{% endblock %}
