{% extends "base.html" %}
{% load i18n %}

{% block inner_content %}
<div class="admin">
  <header class="ContentHeader">
    <a href="{% url 'dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
  </header>

  <div class="box-highlight">
    <h1 class="bold-large">
      {% if create %}
        {% blocktrans trimmed with username=user.username %}
          User account ‘{{ username }}’ created
        {% endblocktrans %}
      {% else %}
        {% blocktrans trimmed with username=user.username %}
          User account ‘{{ username }}’ edited
        {% endblocktrans %}
      {% endif %}
    </h1>
  </div>

  <ul>
    <li>{% blocktrans with username=user.username %}Username: {{ username }}{% endblocktrans %}</li>
    <li>{% blocktrans with first_name=user.first_name %}First name: {{ first_name }}{% endblocktrans %}</li>
    <li>{% blocktrans with last_name=user.last_name %}Last name: {{ last_name }}{% endblocktrans %}</li>
    <li>{% blocktrans with email=user.email %}Email: {{ email }}{% endblocktrans %}</li>
    <li>
        {% trans 'Can manage other users:' %}
        {% if user.user_admin %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
    </li>
  </ul>

  <p><a class="action" href="{% url "edit-user" username=user.username %}">{% trans 'Edit this user account' %}</a></p>
  <p><a class="action" href="{% url "list-users" %}">{% trans 'Return to user management' %}</a></p>
</div>
{% endblock %}
