{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'Request access' %} – {{ block.super }}{% endblock %}

{% block content %}
  <header class="govuk-panel mtp-panel--success">
    <h1 class="govuk-panel__title">
      {% trans 'Your request for access has been sent' %}
    </h1>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% block whats_next_message %}
        <h2 class="govuk-heading-m">{% trans 'What happens next?' %}</h2>
        <p>
          {% trans 'If approved, you’ll get an email with your login details.' %}
        </p>
      {% endblock %}

    </div>
  </div>
{% endblock %}
