{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'Request access' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <header class="govuk-box-highlight">
    <h1 class="bold-large">
      {% trans 'Your request for access has been sent' %}
    </h1>
  </header>

  {% block whats_next_message %}
    <h2 class="heading-medium">{% trans 'What happens next?' %}</h2>
    <p>
      {% trans 'If approved, you’ll get an email with your login details.' %}
    </p>
  {% endblock %}

{% endblock %}
