{% extends 'mtp_common/user_admin/base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block admin_header %}
  <header>
    {% language_switch %}
    <h1 class="heading-xlarge">
      {% blocktrans trimmed with username=user.username %}
        Enable user account ‘{{ username }}’
      {% endblocktrans %}
    </h1>
  </header>
{% endblock %}

{% block admin_content %}
  <p>{% trans 'When you enable a user account, that user will be able to log in again.' %}</p>
  {% include 'mtp_common/user_admin/user-description.html' with user=user only %}

  <form method="post" action=".">
    {% csrf_token %}
    <button type="submit" name="submit" value="submit" class="button">{% trans 'Enable user account' %}</button>
    <a class="cancel" href="{% url 'list-users' %}">{% trans 'Cancel' %}</a>
  </form>
{% endblock %}
