// largely taken from https://github.com/alphagov/govuk_publishing_components/blob/6087f3b71e6a7074101ab8c8083d89e8af735c53/app/assets/stylesheets/govuk_publishing_components/components/_previous-and-next-navigation.scss

.mtp-pagination {
  display: block;
  margin: govuk-spacing(8) 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @include govuk-font($size: 16, $line-height: (20 / 16));
    list-style: none;

    &:first-child {
      margin-bottom: govuk-spacing(4);
    }
  }

  a {
    @extend %govuk-link;
    display: block;
    text-decoration: none;
    padding-bottom: govuk-spacing(4);

    &:hover, &:active, &:visited {
      color: $govuk-link-colour;

      @media print {
        color: $govuk-print-text-colour;
      }
    }

    &:hover, &:active {
      background-color: govuk-colour('light-grey');
    }

    &:focus {
      @include govuk-focused-text;

      .mtp-pagination__link-title {
        border-top-color: transparent;
      }

      .mtp-pagination__link-icon {
        fill: $govuk-text-colour;
      }
    }
  }
}

.mtp-pagination__link-title {
  display: block;
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
}

.mtp-pagination__link-divider {
  @include govuk-visually-hidden;
}

.mtp-pagination__link-text {
  @include govuk-font(19, $weight: bold);
  margin-left: govuk-spacing(2);
}

.mtp-pagination__link-icon {
  @include govuk-font($size: 24, $line-height: (33.75 / 27));
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
  fill: govuk-colour('dark-grey');

  @media print {
    fill: $govuk-print-text-colour;
  }
}

.mtp-pagination__link-label {
  display: inline-block;
  margin-top: .1em;
  text-decoration: underline;
  margin-left: govuk-spacing(5);

  @include govuk-media-query($from: tablet) {
    margin-left: govuk-spacing(6);
  }
}
