// for styling a button as a link
// renamed from .mtp-link-button
input, button {
  &.govuk-link {
    @include govuk-link-common;
    @include govuk-link-style-default;

    padding: 0;
    border: 0;
    background: transparent;
    font-size: inherit;
    text-decoration: underline;
    color: $govuk-link-colour;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

// hides link underline and url when printing
// renamed from .mtp-print-url-hidden
@media print {
  a.mtp-link--print-plain {
    text-decoration: none !important;

    &:after {
      content: '' !important;
      display: none !important;
    }
  }
}
