// mtp-specific staff navigation style

#mtp-user-menu {
  @extend %contain-floats;
  display: none;
  position: relative;

  .js-enabled & {
    display: block;
  }

  a {
    display: block;
  }

  @include media(desktop) {
    margin-top: 10px;
    margin-bottom: 3px;
  }
}

a.mtp-user-menu__link {
  float: right;
  padding: 3px 0 3px 32px;
  color: $page-colour;
  background: file-url('../mtp_common/images/proposition-user-icon.png') no-repeat 0 50%;
  font-weight: bold;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/proposition-user-icon@2x.png');
    background-size: 24px 24px;
  }

  &:focus {
    background-image: file-url('../mtp_common/images/proposition-user-icon-focused.png');
    outline: none;

    @include device-pixel-ratio {
      background-image: file-url('../mtp_common/images/proposition-user-icon-focused@2x.png');
    }

    #global-header & {
      color: $focus-colour;
    }
  }
}

#mtp-user-menu__links {
  display: none;
  position: absolute;
  right: 0;
  top: 33px;
  z-index: 1000;
  list-style: none;
  border-top: 1px solid $text-colour;
  // box-shadow: $text-colour 0 2px $gutter-half;

  .mtp-user-menu--open & {
    display: block;
  }

  a {
    padding: 0.375em 1em;
    background: $page-colour;
    color: $text-colour;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      background: $focus-colour;
      outline: none;
    }
  }

  li {
    border: 1px solid $text-colour;
    border-top: none;
  }
}
