// GOV.UK Overrides
strong {
  font-weight: bold;
}

.breadcrumbs {
  padding-bottom: 0;
}

.breadcrumbs li a:after {
  content: '';
}

#content {
  outline: none;
}

.main-content {
  border-top: 1px solid transparent;
}

.box-highlight {
  background-color: #0c857b;

  h1, h2 {
    font-size: 36px;
    padding: 0;
    margin: 0 0 .5em 0;
  }
}
