// GOV.UK Overrides
strong {
  font-weight: bold;
}

.phase-tag.phase-tag-dev {
  background-color: $red;
}

.breadcrumbs {
  padding-bottom: 0;

  li a:after {
    content: '';
  }
}

#content {
  outline: none;
}

.main-content {
  border-top: 1px solid transparent;
}
