@charset "UTF-8";

// Asset paths required by GOV.UK styles
$govuk-assets-path: '/static/';

// Removes need to put classes on all elements
$govuk-global-styles: true;

@import 'govuk-frontend/govuk/all';

/*
TODO: upgrade styles and include them if and only if needed by _all_ apps

// App extensions
@import 'base';

// App overrides
@import 'elements/buttons';
@import 'elements/forms';
@import 'elements/table';
@import 'elements/upload';
@import 'elements/checkbox';

// App elements
@import 'elements/sub-nav';
@import 'elements/account-management';
@import 'elements/messages';
@import 'elements/dialogue-box';
@import 'elements/spinner';
@import 'elements/delete-icons';
@import 'elements/print-box';
@import 'elements/disclosure';
@import 'elements/important';
@import 'elements/pagination';
 */
