@charset 'UTF-8';

@import 'mtp';

$header-logo-breakpoint: 880px;


#global-header.with-proposition.mtp-internal-site {
  .header-logo {
    display: none;
  }

  .header-moj-logo {
    display: block;
    margin-left: 15px;

    a {
      background: file-url('../mtp_common/images/moj-crest.png') no-repeat 50% 50%;
      display: block;
      font-size: 1px;
      height: 36px;
      padding: 0 5px 5px 0;
      text-indent: -500px;
      width: 254px;

      @include device-pixel-ratio {
        background-image: file-url('../mtp_common/images/moj-crest@2x.png');
        background-size: 254px 36px;
      }
    }
  }

  @include media($max-width: $header-logo-breakpoint, $ignore-for-ie: true) {
    .header-wrapper .header-global {
      float: none;
      width: auto;
    }
  }

  .header-proposition #proposition-menu {
    margin-bottom: 6px;
    margin-top: 11px;

    @include media($max-width: $header-logo-breakpoint, $ignore-for-ie: true) {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }

  .header-wrapper .header-proposition {
    @include media(desktop, $ignore-for-ie: true) {
      clear: left;
      float: none;
      width: auto;
    }

    @include media($header-logo-breakpoint) {
      clear: none;
      float: left;
      width: 66%;
    }
  }
}
