{% load i18n %}
{% load mtp_common %}

{% comment %}
  USAGE:
  {% include 'mtp_common/forms/error-summary.html' with form=<form variable> only %}
{% endcomment %}

{% if form.errors %}
  <div class="error-summary" aria-labelledby="error-summary-heading" tabindex="-1" role="alert">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
      {% trans 'There was a problem' as error_summary_title %}
      {{ form.error_summary_title|default:error_summary_title }}
    </h2>
    <ul class="error-summary-list">
      {% get_form_errors form as errors %}

      {% for error in errors.non_field %}
        <li class="non-field-error">{{ error }}<span class="visually-hidden">.</span></li>
      {% endfor %}

      {% for field, field_errors in errors.field_specific.items %}
        <li class="field-specific-error">
          <a href="#{{ field.id_for_label }}-label">{{ field.label }}</a>
          <ul>
            {% for field_error in field_errors %}
              <li>{{ field_error }}<span class="visually-hidden">.</span></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
