{% load i18n %}
{% load widget_tweaks %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <header>
      <h1 class="govuk-heading-xl">{{ form_title }}</h1>
    </header>

    {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

    <form action="{{ app_path }}" method="post" id="{{ form_title|slugify }}" novalidate>
      {% csrf_token %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
          {% include 'mtp_common/forms/field-label.html' with field=field only %}
          {% include 'mtp_common/forms/field-errors.html' with field=field only %}
          {{ field|add_class:'govuk-input govuk-input--width-20'|add_error_class:'govuk-input--error' }}
        </div>
      {% endfor %}

      <p>
        <button type="submit" class="govuk-button" data-module="govuk-button" name="{{ submit_text|slugify }}">{{ submit_text }}</button>
        {% if cancel_url %}
          <a class="mtp-link--form-cancel" href="{{ cancel_url }}">{% trans 'Cancel' %}</a>
        {% endif %}
      </p>
    </form>
  </div>
</div>
