{% load i18n %}

{% comment %}
  USAGE:
  {% include 'mtp_common/forms/password-field.html' with field=<field variable> only %}
  optional parameters:
    input_classes - classes to add to the input element
    label_classes - classes to add to the label element

  TODO: the widget is not currently configurable
{% endcomment %}

<div id="{{ field.id_for_label }}-wrapper" class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %} govuk-password-input" data-module="govuk-password-input">
  {% include 'mtp_common/forms/field-label.html' with field=field label_classes=label_classes only %}
  {% include 'mtp_common/forms/field-errors.html' with field=field only %}

  <div class="govuk-input__wrapper govuk-password-input__wrapper">
    <input id="{{ field.id_for_label }}" class="govuk-input {% if field.errors %}govuk-input--error{% endif %} govuk-password-input__input govuk-js-password-input-input {{ input_classes }}" name="{{ field.html_name }}" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none" />
    <button id="{{ field.id_for_label }}-button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" type="button" data-module="govuk-button" aria-controls="password-input" aria-label="{% trans 'Show password' %}" hidden>
      {% trans 'Show' %}
    </button>
  </div>
</div>
