{% load i18n %}
{% load mtp_common %}

{% comment %}
  USAGE:
  {% include 'mtp_common/forms/radio-field.html' with field=<field variable> only %}
  optional parameters:
    input_classes - classes to add to the input element
    label_classes - classes to add to the fieldset legend element
    value - input element value override instead of default filtered field value (ignored if None)
    choices_help_text - list of hints added to choices
    inline - whether options should show in one row
    small - whether smaller circles should be used

  TODO: the widget is not currently configurable
{% endcomment %}

<div id="{{ field.id_for_label }}-wrapper" class="govuk-form-group {% if field.errors %}govuk-form-group--error{% endif %}">
  <fieldset class="govuk-fieldset" {% if field.help_text %}aria-describedby="{{ field.id_for_label }}-hint"{% endif %}>
    <legend id="{{ field.id_for_label }}-label" class="govuk-fieldset__legend {{ label_classes }}">
      {{ field.label }}
    </legend>
    {% include 'mtp_common/forms/field-help-text.html' with field=field only %}
    {% include 'mtp_common/forms/field-errors.html' with field=field only %}

    <div class="govuk-radios {% if small %}govuk-radios--small{% endif %} {% if inline %}govuk-radios--inline{% endif %}" data-module="govuk-radios">
      {% with initial=value|default:field.value|default:field.field.initial %}
        {% choices_with_help_text field.field.choices choices_help_text as choices %}
        {% for choice, label, help_text in choices %}
          {% with choice_slug=choice|slugify %}
            <div class="govuk-radios__item">
              <input id="{{ field.id_for_label }}-{{ choice_slug }}" class="govuk-radios__input {{ input_classes }}" type="radio" name="{{ field.html_name }}" value="{{ choice }}" {% if choice == initial %}checked{% endif %} {% if help_text %}aria-describedby="{{ field.id_for_label }}-{{ choice_slug }}-hint"{% endif %} />
              <label for="{{ field.id_for_label }}-{{ choice_slug }}" id="{{ field.id_for_label }}-{{ choice_slug }}-label" class="govuk-label govuk-radios__label">
                {{ label }}
              </label>
              {% if help_text %}
                <div id="{{ field.id_for_label }}-{{ choice_slug }}-hint" class="govuk-hint govuk-radios__hint">
                  {{ help_text }}
                </div>
              {% endif %}
            </div>
          {% endwith %}
        {% endfor %}
      {% endwith %}
    </div>

  </fieldset>
</div>
