{% load i18n %}

{% if breadcrumbs or breadcrumbs_back or alt_urls %}
  <nav class="govuk-grid-row mtp-breadcrumb-bar">
    {% if breadcrumbs or breadcrumbs_back %}
      <div class="mtp-breadcrumbs__container">
        {% if breadcrumbs_back %}

          <a class="govuk-back-link" href="{{ breadcrumbs_back }}">
            {% trans 'Back' %}
          </a>

        {% else %}

          <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb.url %}
                  <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="{{ breadcrumb.url }}">
                      {{ breadcrumb.name }}
                    </a>
                  </li>
                {% else %}
                  <li class="govuk-breadcrumbs__list-item">
                    {# TODO: maybe remove empty link #}
                    <a class="govuk-breadcrumbs__link">
                      {{ breadcrumb.name }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>

        {% endif %}
      </div>
    {% endif %}

    {% include 'mtp_common/components/language-switch.html' %}

  </nav>
{% endif %}
