{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body style="font-family: sans-serif;">
    <div style="margin: auto; max-width: 600px;">
      <table style="background: #0b0c0c;">
        <tr>
          <td>
            <img src="{{ static_url }}/mtp_common/images/govuk-header-logo.png" alt="GOV.UK">
          </td>
          <td style="padding-right: 30px; color: #fff; font-size: 20px; font-family: sans-serif;">
            {% trans 'Send money to someone in prison' %}
          </td>
        </tr>
      </table>
      <div style="padding: 16px 30px 0;">
        {% block inner_content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
