{% extends 'govuk_template/base.html' %}
{% load i18n %}
{% load static %}
{% load mtp_common %}

{% block page_title %}{% trans 'Send money to someone in prison' %}{% endblock %}

{% block head %}
  {{ block.super }}
  <!--[if gt IE 8]><!--><link href="{% static "stylesheets/app.css" %}?{{ APP_GIT_COMMIT_SHORT }}" rel="stylesheet" type="text/css"><!--<![endif]-->
  <!--[if IE 8]><link href="{% static "stylesheets/app-ie8.css" %}?{{ APP_GIT_COMMIT_SHORT }}" rel="stylesheet" type="text/css" /><![endif]-->

  <link rel="stylesheet" href="{% static "stylesheets/app-print.css" %}?{{ APP_GIT_COMMIT_SHORT }}" media="print"/>
  <style media="print">
    a[href^="/"]:after {
      content: " ({{ request.scheme }}://{{ request.get_host }}" attr(href) ")";
    }
  </style>

  {% if GOOGLE_ANALYTICS_ID %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
{% endblock %}

{% block body_classes %}{{ block.super }} {% if moj_internal_site %}mtp-internal-site{% endif %} {% if footer_feedback_context %}without-footer-padding{% endif %}{% endblock %}

{% block cookie_message %}
  <p>
    {% trans 'GOV.UK uses cookies to make the site simpler.' %}
    <a href="https://www.gov.uk/help/cookies">
      {% trans 'Find out more about cookies' %}
    </a>
  </p>
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      {% if moj_internal_site %}
        {% include 'mtp_common/includes/proposition-user-menu.html' %}
      {% else %}
        <div id="proposition-menu">
          <a href="{{ home_url }}" id="proposition-name">{% block proposition %}{% trans 'Send money to someone in prison' %}{% endblock %}</a>
        </div>
      {% endif %}
    </div>
  </div>

  {% block proposition_extra %}{% endblock %}
{% endblock %}

{% block content %}
  {% block phase_banner %}
    {% if ENVIRONMENT != 'prod' %}
      <div class="phase-banner">
        <strong class="phase-tag phase-tag-dev" title="{{ APP }}-{{ ENVIRONMENT }}:{{ APP_GIT_COMMIT_SHORT }}{% if APP_BUILD_DATE %}, built {{ APP_BUILD_DATE }}{% endif %}">
          {% trans 'Warning' %}
        </strong>
        {% blocktrans trimmed with name=ENVIRONMENT %}
          This “{{ name }}” website is for testing only.
        {% endblocktrans %}
      </div>
    {% endif %}
  {% endblock %}

  {% sub_nav %}

  <main role="main" id="content" tabindex="-1">
    {% block inner_content %}{% endblock %}
  </main>
{% endblock %}

{% block body_end %}
  <script src="{% static 'javascripts/app.bundle.js' %}?{{ APP_GIT_COMMIT_SHORT }}"></script>
  <!--
  {{ APP }}-{{ ENVIRONMENT }} / {{ APP_GIT_COMMIT_SHORT }}
  {% if APP_BUILD_DATE %}built {{ APP_BUILD_DATE }}{% endif %}
  -->
{% endblock %}

{% block licence_message %}
  <p>
    {% blocktrans trimmed with url='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' %}
      All content is available under the <a href="{{ url }}" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
    {% endblocktrans %}
  </p>
{% endblock %}

{% block footer_support_links %}
  {% if footer_feedback_context %}
    {% footer_feedback_form request footer_feedback_context %}
  {% endif %}
{% endblock %}
