{% extends 'govuk-frontend/template.html' %}
{% load i18n %}
{% load static %}
{% load mtp_common %}

{% block page_title %}{% trans 'Send money to someone in prison' %}{% endblock %}

{% block head %}
  {{ block.super }}

  <link href="{% static 'app.css' %}?{{ APP_GIT_COMMIT_SHORT }}" rel="stylesheet" type="text/css" />
  <style media="print">
    a[href^="/"]:after {
      content: " ({{ request.scheme }}://{{ request.get_host }}" attr(href) ")";
    }
  </style>

  {% if analytics_policy.enabled %}
    <script {% if csp_nonce %}nonce="{{ csp_nonce }}"{% endif %}>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ analytics_policy.google_analytics_id }}', 'auto');

      {% with default_ga_data=default_google_analytics_pageview %}
      {% with ga_data=google_analytics_pageview|default:default_ga_data %}
        {% for key, value in ga_data.items %}
          {% if value %}ga('set', '{{ key }}', '{{ value }}');{% endif %}
        {% endfor %}
      {% endwith %}
      {% endwith %}

      ga('send', 'pageview');
      {% block google_analytics_end %}{% endblock %}
    </script>
  {% endif %}
{% endblock %}

{% block body_classes %}{{ block.super }} {% if moj_internal_site %}mtp-internal-site{% endif %}{% endblock %}

{% block body_start %}
  {% block cookie_message %}
    <div class="govuk-cookie-banner mtp-cookie-banner" data-nosnippet role="region">
      <div class="govuk-cookie-banner__message govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-cookie-banner__content">
              <p>
                {% trans 'GOV.UK uses cookies to make the site simpler.' %}
                <a href="https://www.gov.uk/help/cookies">
                  {% trans 'Find out more about cookies' %}
                </a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block before_content %}
  {% block phase_banner %}
    {% if ENVIRONMENT != 'prod' %}
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag mtp-tag--error govuk-phase-banner__content__tag">
            {% trans 'Warning' %}
          </strong>
          <span class="govuk-phase-banner__text">
            {% trans 'This website is only for testing!' %}
          </span>
        </p>
      </div>
    {% endif %}
  {% endblock %}

  {% block breadcrumb_bar %}
    {% breadcrumb_bar %}
  {% endblock %}
{% endblock %}

{% block body_end %}
  <span class="mtp-ga-data" data-page="{% if google_analytics_pageview %}{{ google_analytics_pageview.page }}{% elif default_google_analytics_pageview %}{{ default_google_analytics_pageview.page }}{% endif %}" data-location="{% if google_analytics_pageview %}{{ google_analytics_pageview.location }}{% elif default_google_analytics_pageview %}{{ default_google_analytics_pageview.location }}{% endif %}" data-title="{% if google_analytics_pageview %}{{ google_analytics_pageview.title }}{% endif %}"></span>
  <script src="{% static 'app.js' %}?{{ APP_GIT_COMMIT_SHORT }}"></script>
  <!--
  {{ APP }}-{{ ENVIRONMENT }} / {{ APP_GIT_COMMIT_SHORT }} at {{ APP_BUILD_DATE }}
  -->
{% endblock %}
