{% if sentry_dsn %}
  <script src="https://browser.sentry-cdn.com/8.7.0/bundle.min.js" integrity="sha384-jKJvEneJ+gubP1DU80LdsRlB/wCxW+tWQpbHB+5oRxnwjxlSr1I5yI4pbliQi6yo" crossorigin="anonymous"></script>
  <script {% if csp_nonce %}nonce="{{ csp_nonce }}"{% endif %}>
    if (typeof Sentry !== 'undefined') {
      Sentry.init({
        dsn: '{{ sentry_dsn }}',
        release: '{{ app_git_commit|default:"unknown" }}',
        environment: '{{ environment }}',
        allowUrls: [/app\.js/]
      });
    }
  </script>
{% endif %}
