{% load i18n %}

{% if breadcrumbs or breadcrumbs_back or alt_urls %}
  <nav class="mtp-sub-nav">
    <div class="grid-row">
      {% if breadcrumbs or breadcrumbs_back %}
        <div class="mtp-breadcrumbs">
          {% if breadcrumbs_back %}

            <a class="link-back" href="{{ breadcrumbs_back }}">{% trans 'Back' %}</a>

          {% else %}

            <div class="breadcrumbs">
              <ol>
                {% for breadcrumb in breadcrumbs %}
                  {% if breadcrumb.url %}
                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                  {% else %}
                    <li><a>{{ breadcrumb.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ol>
            </div>

          {% endif %}
        </div>
      {% endif %}

      {% include 'mtp_common/includes/language-switch.html' %}

    </div>
  </nav>
{% endif %}
