@if $govuk-global-styles == true {
  a:focus {
    outline-offset: 0;
  }

  strong, b {
    font-weight: bold;
  }

  em, i {
    font-style: italic;
  }

  strong, em, b, i {
    @include govuk-typography-common;
  }

  address {
    @extend .govuk-body;
    font-style: normal;
  }

  code {
    font-family: Courier, "Courier New", monospace;
  }

  textarea {
    resize: vertical;
    min-height: 40px;
  }
}


// do not print cookie banners
.govuk-cookie-banner {
  @media print {
    display: none;
  }
}


// no govuk-frontend class is available for the inverse of .govuk-!-display-none-print
.mtp-\!-display-print-only {
  display: none;

  @media print {
    display: block;
  }
}


// no govuk-frontend classes are available for showing/hiding whether javascript is enabled
.mtp-\!-display-none-js-enabled-only {
  .js-enabled & {
    display: none;
  }
}

.mtp-\!-display-inline-js-enabled-only {
  display: none;

  .js-enabled & {
    display: inline;
  }
}

.mtp-\!-display-inline-block-js-enabled-only {
  display: none;

  .js-enabled & {
    display: inline-block;
  }
}

.mtp-\!-display-block-js-enabled-only {
  display: none;

  .js-enabled & {
    display: block;
  }
}


// no govuk-frontend classes are available for secondary text
.govuk-body-l--secondary {
  @extend %govuk-body-l;
  color: $govuk-secondary-text-colour;
}

.govuk-body-m--secondary {
  @extend %govuk-body-m;
  color: $govuk-secondary-text-colour;
}

.govuk-body-s--secondary {
  @extend %govuk-body-s;
  color: $govuk-secondary-text-colour;
}

.govuk-body-xs--secondary {
  @extend %govuk-body-xs;
  color: $govuk-secondary-text-colour;
}
