{% load i18n %}
{% load mtp_common %}

<nav id="mtp-user-menu" class="print-hidden" aria-label="{% trans 'User account menu' %}">
  {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}" class="mtp-user-menu__link">{% trans 'Sign out' %}</a>
    <a class="mtp-user-menu__link" href="{% url 'settings' %}">
      {{ request.user.get_full_name|default:request.user.username }}
    </a>
  {% else %}
    <a href="{% url 'login' %}" class="mtp-user-menu__link">{% trans 'Sign in' %}</a>
  {% endif %}
</nav>
