.mtp-delete-icon, .mtp-undelete-icon {
  display: inline-block;
  margin-top: 0;
  vertical-align: -.3em;
  width: 1em;
  height: 1em;
  background: file-url('../mtp_common/images/delete-icon.png') 0 0 no-repeat;

  @include device-pixel-ratio {
    margin-top: .2em;
    background-image: file-url('../mtp_common/images/delete-icon@2x.png');
    background-size: 11px 11px;
  }
}

.mtp-undelete-icon {
  background: file-url('../mtp_common/images/undelete-icon.png') 0 0 no-repeat;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/undelete-icon@2x.png');
    background-size: 11px 11px;
  }
}
