input {
  font-family: inherit;
}

form a.mtp-button--cancel {
  vertical-align: -0.45em;

  @include media(tablet) {
    margin-left: 1em;
  }

  &:visited {
    color: $link-colour;
  }
}

.main-content label + * {
  margin-top: 0;
}

.govuk-list .govuk-error-summary__list {
  .mtp-error-summary__non-field-error {
    color: $error-colour;
    font-weight: bold;
  }

  .mtp-error-summary__field-errors ul {
    padding-left: 1em;

    li {
      list-style-type: disc;
      color: $error-colour;
    }
  }
}

.mtp-detail-label {
  color: $secondary-text-colour;
  font-size: 16px;
}
