.mtp-messages {
  margin: 1em 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  li {
    list-style: none;
  }
}

.mtp-message {
  margin: 0.5em 0 0;
  padding: 0.75em 0 0.75em 66px;
  min-height: 30px;
  background: $light-blue-25 file-url('../mtp_common/images/message-info.png') no-repeat 16px 16px;
  border: 6px solid $light-blue;
  @include core-24;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/message-info@2x.png');
    background-size: 34px 34px !important;
  }
}

.mtp-message--success {
  background: $turquoise-25 file-url('../mtp_common/images/message-success.png') no-repeat 16px 16px;
  border-color: $turquoise;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/message-success@2x.png');
  }
}

.mtp-message--warning {
  background: $orange-25 file-url('../mtp_common/images/message-warning.png') no-repeat 16px 16px;
  border-color: $orange;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/message-warning@2x.png');
  }
}

.mtp-message--error {
  background: $red-25 file-url('../mtp_common/images/message-error.png') no-repeat 16px 16px;
  border-color: $red;

  @include device-pixel-ratio {
    background-image: file-url('../mtp_common/images/message-error@2x.png');
  }
}
