$component: upload-form;

.no-js .#{$component} {
  input[type=file] {
    display: inline;
    position: static;
    left: 0;
  }

  .upload-choose {
    display: none;
  }
}

.#{$component} {
  input[type=file] {
    position: absolute;
    left: -100000px;
  }

  .upload-filename, .upload-control div {
    display: inline-block;
  }

  .upload-filename {
    margin: .3em 1em 0 0;
  }

  .upload-otherfilelink {
    display: none;
  }
}

