$component: ContentHeader;

.#{$component} {

  margin-bottom: 1em;

  h1 {
    margin-top: 1.225em;
    font-size: em(36);
  }
  p {
    margin-top: 0;
    font-size: em(24);
  }
}

// Children / Siblings
.#{$component}-back {
  &:before {
    display:inline-block;
    text-decoration: none;
    padding-right: 5px;
  }

  @include print {
    display: none;
  }

  // Siblings
  & + h1 {
    margin-top: 0.5em;
  }
}
