@if $is-print == false {
  .help-box {

    &.help-box-popup {
      h3 {
        font-size: 1em;
        font-weight: normal;
        text-decoration: underline;
        color: $link-colour;
        cursor: pointer;

        div {
          width: 30px;
          height: 1em;
          background-image: url(../images/arrows.png);
          background-repeat: no-repeat;
          background-position: -5px 3px;
          display: inline-block;
          vertical-align: middle;

          @media only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min-device-pixel-ratio: 2) {
            background-image: url(../images/arrows@2x.png);
            background-size: 53px 15px;
            background-position: -4px;
          }
        }
      }

      .help-box-contents {
        border-left: 5px solid $border-colour;
        padding: .2em;
        ul {
          margin: 0;
          list-style-type: disc;
          li {
            padding: 0 0 .3em 1.2em;
          }
        }
        p {
          margin: 1em 0 .2em 0;
        }
      }

      &.help-box-hidden {
        h3 div {
          background-position: -40px 1px;
          @media only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min-device-pixel-ratio: 2) {
            background-image: url(../images/arrows@2x.png);
            background-size: 51px 15px;
            background-position: -32px;
          }
        }
        .help-box-contents {
          display: none;
        }
      }
    }
  }
} @else {
  .help-box {
    display: none;
  }
}