@include screen {
  .spinner {
    display: inline-block;
    position: relative;
    top: 15px;
    width: 1px;
    height: 40px;
    padding-left: 200px;
    margin-left: 10px;
    overflow: hidden;
    background: url(../images/spinner.gif) 0 0 no-repeat;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
      margin-top: .2em;
      background-image: url(../images/spinner@2x.gif);
      background-size: 40px 40px;
    }
  }
}
