{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="admin">
  <header class="ContentHeader">
    <a href="{% url 'dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1>{% trans 'Delete user' %} ‘{{ form.username.value }}’</h1>

  </header>
  <ul>
    <li>{% trans 'Username:' %} {{ user.username }}</li>
    <li>{% trans 'First name:' %} {{ user.first_name }}</li>
    <li>{% trans 'Last name:' %} {{ user.last_name }}</li>
    <li>{% trans 'Email:' %} {{ user.email }}</li>
    <li>{% trans 'Can manage other users:' %}
    {% if user.user_admin %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</li>
  </ul>

  <form method="post" action=".">
    {% csrf_token %}
    <button type="submit" name="submit" value="submit" class="button">{% trans 'Delete user account' %}</button>
    <a class="cancel" href="{% url 'list-users' %}">{% trans 'Cancel' %}</a>
  </form>
</div>
{% endblock %}
