{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="admin">
  <header class="ContentHeader">
    <a href="{% url 'dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1>{% trans 'Delete user account' %}</h1>
  </header>

  {% if errors %}
  <div class="error-summary" aria-labelledby="error-summary-heading" tabindex="-1" role="alert">
    {% for error in errors %}
    {% if forloop.first %}
    <h1 class="error-summary-heading heading-medium" id="error-summary-heading">
      {{ error }}
    </h1>
    {% else %}
      {{ error }}
    {% endif %}
    {% endfor %}
    </div>
  {% endif %}

  <ul>
    <li>{% trans 'Username:' %} {{ user.username }}</li>
    <li>{% trans 'First name:' %} {{ user.first_name }}</li>
    <li>{% trans 'Last name:' %} {{ user.last_name }}</li>
    <li>{% trans 'Email:' %} {{ user.email }}</li>
    <li>{% trans 'Can create and edit other users:' %}
    {% if user.user_admin %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</li>
  </ul>

  <form method="post" action=".">
    {% csrf_token %}
    <button type="submit" name="submit" value="submit" class="button">{% trans 'Delete user account' %}</button>
    <a class="cancel" href="{% url 'list-users' %}">{% trans 'Cancel' %}</a>
  </form>
</div>
{% endblock %}
