{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <header class="ContentHeader">
    <a href="{% url 'dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1>{% trans 'Delete user account' %}</h1>
  </header>

  <p>
    {% trans 'Username:' %} {{ user.username }}<br/>
    {% trans 'First name:' %} {{ user.first_name }}<br/>
    {% trans 'Last name:' %} {{ user.last_name }}<br/>
    {% trans 'Email:' %} {{ user.email }}<br/>
    {% trans 'Can create and edit other users:' %} {{ user.user_admin }}<br/>
  </p>

  <form method="post" action=".">
    {% csrf_token %}
    <button type="submit" name="submit" value="submit" class="button">{% trans 'Delete user account' %}</button>
    <a href="{% url 'list-users' %}">{% trans 'Cancel' %}</a>
  </form>
{% endblock %}
