{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <header class="ContentHeader">
    <a href="{% url 'dashboard' %}" class="ContentHeader-back">{% trans 'Home' %}</a>
    <h1>{% trans 'User account management' %}</h1>
  </header>

  <p><a href="{% url "new-user" %}">{% trans 'Add a new user' %}</a></p>

  <table>
    <thead>
      <tr>
        <th>{% trans 'Username' %}</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Email' %}</th>
        <th>{% trans 'Edit user' %}</th>
        <th>{% trans 'Delete user' %}</th>
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
        <tr {% if forloop.counter|divisibleby:2 %}{% else %}class="odd"{% endif %}>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td><a href="{% url "edit-user" username=user.username %}">{% trans 'Edit' %}</a></td>
          <td><a href="{% url "delete-user" username=user.username %}">{% trans 'Delete' %}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
