// Show a warning when an email address domain might be misspelled

.mtp-mailcheck-warning {
  padding-top: 6px;
  color: $govuk-error-colour;

  a {
    font-weight: bold;
    color: $govuk-error-colour;
  }
}
