{% load i18n %}
{% load static %}

<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="{{ homepage_url }}" class="govuk-header__link govuk-header__link--homepage" title="{{ logo_link_title }}">
        {% if moj_internal_site %}
          <svg class="govuk-header__logotype" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 32" width="150" height="32" aria-label="HMPPS">
            <title>HMPPS</title>
            <use href="{% static 'mtp_common/images/hmpps-logotype.svg' %}#logo" />
          </svg>
        {% else %}
          {% include "govuk-frontend/components/logo.html" with aria_label='GOV.UK' classes='govuk-header__logotype' use_logotype=True %}
        {% endif %}
      </a>
    </div>

    <div class="govuk-header__content">
      {% if proposition_title %}
        <a href="{{ home_url }}" class="govuk-header__link govuk-header__service-name">
          {{ proposition_title }}
        </a>
      {% endif %}

      {% if moj_internal_site %}
        {% include 'mtp_common/components/header-user-menu.html' %}
      {% else %}
        {% include 'govuk-frontend/components/header-proposition-links.html' %}
      {% endif %}
    </div>

    {% block after_proposition %}
      {% if moj_internal_site %}
        {% include 'mtp_common/components/header-app-links.html' %}
      {% endif %}
    {% endblock %}
  </div>
</header>
