{% extends 'layouts/django/internal.html' %}
{% load i18n staticfiles %}

{% block page_title %}{% trans "Money to Prisoners" %}{% endblock %}

{% block proposition %}{% trans "Money to Prisoners" %}{% endblock %}

{% block head %}
  {{ block.super }}
    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["{% static "stylesheets/fonts-ie8.css" %}"]},
       c="{% static "scripts/webfont-debug.js" %}",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
  {% if GOOGLE_ANALYTICS_ID %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="{% static "stylesheets/app.css" %}" media="screen, handheld, projection, tv">
  <link rel="stylesheet" href="{% static "stylesheets/app-print.css" %}" media="print">
{% endblock %}


{% block global_subheader %}
  {% block user_details %}
    {% if request.user.is_authenticated %}
      <div class="user-details">
        {% blocktrans with full_name=request.user.get_full_name|default:request.user.username %}
          Logged in as {{ full_name }}
        {% endblocktrans %}

        <span>
          <a href="{% url 'logout' %}">{% trans "Sign out" %}</a>
        </span>

        {% block user_menu %}{% endblock %}
      </div>
    {% endif %}
  {% endblock %}

  {% block phase_banner %}
    <div class="subheader-item phase-banner">
      <div class="phase-tag phase-tag-alpha">{% trans "Alpha" %}</div>
      {# #TODO - add current location for feedback view #}
      {% url 'submit_ticket' as ticket_url %}
      <div class="phase-banner-message">{% blocktrans %}This is a new service. If you have any comments or need help please <a href="{{ ticket_url }}">contact us</a>.{% endblocktrans %}</div>
    </div>
  {% endblock %}
{% endblock %}
