{% extends 'layouts/django/internal.html' %}
{% load i18n staticfiles %}

{% block page_title %}{% trans "Money to Prisoners" %}{% endblock %}

{% block proposition %}{% trans "Money to Prisoners" %}{% endblock %}

{% block head %}
  {{ block.super }}
  {% if GOOGLE_ANALYTICS_ID %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
{% endblock %}


{% block stylesheets %}
  {% if DEBUG %}
    <link rel="stylesheet" href="{% static "stylesheets/app.css" %}" media="screen, handheld, projection, tv">
    <link rel="stylesheet" href="{% static "stylesheets/app-print.css" %}" media="print">
  {% else %}
    <link rel="stylesheet" href="{% static "stylesheets/app.min.css" %}" media="screen, handheld, projection, tv">
    <link rel="stylesheet" href="{% static "stylesheets/app-print.min.css" %}" media="print">
  {% endif %}
{% endblock %}

{% block include_js %}
  {% if DEBUG %}
    <script src="{% static "javascripts/app.js" %}"></script>
  {% else %}
    <script src="{% static "javascripts/app.min.js" %}"></script>
  {% endif %}

  <script type="text/javascript">$(moj.init);</script>

{% endblock %}

{% block global_subheader %}
  {% if request.user.is_authenticated %}
    <div class="user-details">
      {% blocktrans with full_name=request.user.get_full_name|default:request.user.username %}
        Logged in as {{ full_name }}
      {% endblocktrans %}

      <span>
        <a href="{% url 'logout' %}">{% trans "Sign out" %}</a>
      </span>

      {% block user_menu %}{% endblock %}
    </div>
  {% endif %}

  <p class="subheader-item phase-banner">
    <strong class="phase-tag phase-tag-alpha">{% trans "Alpha" %}</strong>
    {# #TODO - add current location for feedback view #}
    {% blocktrans %}This is a new service – your <a href="#">feedback</a> will help us to improve it.{% endblocktrans %}
  </p>

  {% if messages %}
    <ul class="messages" role="alert" tabindex="-1">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
