{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'Sorry, something went wrong' %} – {{ block.super }}{% endblock %}

{% block phase_banner %}{% endblock %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl">
      {% trans 'Sorry, something went wrong' %}
    </h1>
  </header>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        {% trans 'Please try again later.' %}
      </p>
      <p><a href="/">{% trans 'Return to the home page' %}</a></p>
    </div>
  </div>
{% endblock %}
