.mtp-internal-site {
  @include govuk-media-query($from: tablet) {
    .govuk-header__logotype {
      top: -2px;
    }

    .govuk-header__content {
      margin-top: 2px;
    }
  }

  .govuk-header__link--homepage {
    box-shadow: none;

    &:hover, &:active, &:focus { // NB: hover & active are already like this
      $govuk-header-link-underline-thickness: 3px;
      margin-bottom: $govuk-header-link-underline-thickness * -1;
      border-bottom: $govuk-header-link-underline-thickness solid govuk-colour('white');
      background: govuk-colour('black');
    }

    &:focus {
      background: $govuk-focus-colour;
      color: govuk-colour('black');
      border-color: $govuk-focus-colour;
    }
  }

  @include govuk-media-query($from: desktop) {
    .govuk-header__logo {
      width: 25%;
    }

    .govuk-header__content {
      width: 75%;
    }
  }

  @media print {
    .govuk-header__logo {
      display: none;
    }

    .govuk-header__content {
      padding-left: 0;
    }

    .govuk-header__service-name::before {
      content: 'HMPPS ';
    }
  }
}
