// user account management pages
.mtp-account-management {
  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }

  td {
    font-size: 0.8em;
  }

  .mtp-account-management__can_manage {
    text-align: center;
  }

  .mtp-account-management__actions {
    width: 8em;

    div {
      display: inline-block;

      &.mtp-account-management__edit-action {
        margin-right: 2em;
      }
    }

    a:visited {
      color: $link-colour;
    }
  }

  .mtp-page-list {
    margin-top: 1em;
  }
}

form.mtp-account-management__user-form {
  width: 70%;
}
