$component: ContentHeader;

.#{$component} {

  margin-bottom: 1em;

  h1 {
    margin-top: 1.225em;
    font-size: em(36);
  }
  p {
    margin-top: 0;
    font-size: em(24);
  }
}

// Children / Siblings
.#{$component}-back {

  &.#{$component}-arrow {
    background: url(../mtp_common/images/left-arrow.png) left .25em no-repeat;
    padding-left: 1em;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
          padding-left: 1.3em;
          background-image: url(../mtp_common/images/left-arrow@2x.png);
          background-size: 8px 10px;
          background-position: 6px 6px;
      }
  }

  @include print {
    display: none;
  }

  // Siblings
  & + h1 {
    margin-top: 0.5em;
  }
}
