@if $is-print == false {
  .help-box {
    .help-box-title {
      div {
        width: 30px;
        height: 1em;
        background-image: url(../mtp_common/images/arrows.png);
        background-repeat: no-repeat;
        background-position: -5px 3px;
        display: inline-block;
        vertical-align: middle;
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
          only screen and (min-device-pixel-ratio: 2) {
          background-image: url(../mtp_common/images/arrows@2x.png);
          background-size: 53px 15px;
          background-position: -4px;
        }
      }
      a:visited { color: $link-colour }
    }

    .help-box-contents {
      margin-top: 1em;
      ul {
        margin: 0 0 0 0.8em;
        li {
          padding-bottom: .4em;
        }
      }
    }

    &.help-box-hidden {
      .help-box-title div {
        background-position: -40px 1px;
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
          only screen and (min-device-pixel-ratio: 2) {
          background-image: url(../mtp_common/images/arrows@2x.png);
          background-size: 51px 15px;
          background-position: -32px;
        }
      }
      .help-box-contents {
        display: none;
      }
    }
  }
} @else {
  .help-box {
    display: none;
  }
}