$component: Pagination;

.#{$component} {
  padding-left: 0;
  li {
    display: inline;
    + li {
      padding-left: .5em;
    }
  }
}

.#{$component}-print-description {
  @if $is-print {
    display: block;
    font-size: 0.75em;
  } @else {
    display: none;
  }
}

a.#{$component}-current-page {
  text-decoration: none;
  color: $text-colour;
}
