// A block box that's only visible when printing a page

.print-box {
  @include screen {
    display: none;
  }

  @include print {
    p {
      margin: 1em .7em
    }
    width: 93.5%;
    border: 2px solid $grey-1;
  }
}
