.phase-tag.phase-tag-dev {
  background-color: #af8748;
  + .phase-banner-message {
    padding-left: 4.8em;
  }
}

#proposition-links li {
  color: $text-colour;
  span {
    color: $page-colour;
  }
}
