$component: SummaryBoxes;

.#{$component} {
  $box-width: 210px;
  $box-height: 175px;
  $header-height: 50px;


  max-width: 60%;
  margin: 68px 0 0 0;
  padding: 0;


  li {
    float: left;
    margin: 0 27px 30px 0;
    display: inline-block;
    background: $grey-3;
    width: $box-width;
    height: $box-height;

    a {
      display: block;
      color: $white;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        h2 {
          text-decoration: underline;
        }
      }
    }

    h2 {
      margin: 0;
      min-height: $header-height;
      text-align: center;
      font-size: em(30);
      line-height: $header-height;
      background: $grey-1;
      &.SummaryBoxes--small-title {
        font-size: em(20);
      }
    }

    p {
      display: table-cell;
      width: 80%;
      height: $box-height - $header-height * 2;
      padding: 1em;
      vertical-align: middle;
      color: $black;
      text-align: center;

      strong {
        display: block;
        font-size: 2.8em;
        line-height: 1;
      }
    }
  }
}

// Variants
li.#{$component}--variant-1 {
  background: $green-2;
  & h2 {
    background: $green-1;
  }
}

li.#{$component}--variant-2 {
  background: $orange-25;
  & h2 {
    background: $orange;
  }
}

li.#{$component}--variant-3 {
  background:$light-blue-25;
  & h2 {
    background: $light-blue;
  }
}
