$component: upload-form;

@include screen {
  .no-js .#{$component} {
    input[type=file] {
      display: inline;
      position: static;
      left: 0;
    }
    .upload-choose {
      display: none;
    }
  }

  .#{$component} {
    input[type=file] {
      position: absolute;
      left: -100000px;
    }
    .upload-filename, .upload-control div {
      display: inline-block;
    }
    .upload-filename {
      margin-right: 1em;
    }
    .upload-otherfilelink {
      display: none;
    }
  }
}

