{% extends base_template_name %}
{% load i18n %}

{% block page_title %}{{ get_help_title|default:_('Get help') }} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% block get_help_heading %}
        <header>
          <h1 class="govuk-heading-xl">{{ get_help_title|default:_('Get help') }}</h1>
        </header>
      {% endblock %}

      {% block get_help_leading %}
        <p class="govuk-body-l govuk-!-margin-bottom-9">
          {% trans 'Ask questions about this service to the prisoner money team.' %}
          <br />
          {% trans 'It’s the fastest way we can help you with a query.' %}
          <br />
          {% trans 'You can send us any feedback here too.' %}
        </p>
      {% endblock %}

      {% block get_help_form %}
        <form action="." method="post" id="mtp-feedback-form">
          {% include 'govuk-frontend/components/error-summary.html' with form=form only %}

          <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">{% trans 'Your message or feedback' %}</legend>

            {% include 'mtp_common/forms/textarea.html' with field=form.ticket_content value=request.GET.message|default:None rows=6 only %}
            {% include 'mtp_common/forms/field.html' with field=form.contact_email input_classes='govuk-input--width-20' autocomplete='email' value=request.GET.email|default:'' only %}

            <div class="govuk-button-group">
              {% csrf_token %}
              {{ form.referer }}
              <button type="submit" class="govuk-button" data-module="govuk-button" name="submit-feedback">{% trans 'Send' %}</button>
            </div>
          </fieldset>
        </form>
      {% endblock %}

    </div>
  </div>
{% endblock %}
