{% extends base_template_name %}
{% load i18n %}

{% block page_title %}{{ get_help_title|default:_('Get help') }} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">
      <span class="heading-secondary">
        {{ get_help_title|default:_('Get help') }}
      </span>
      {% trans 'Thanks for your query' %}
    </h1>
  </header>

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>{% trans 'The Prisoner Money team received your request and will try to reply in one working day.' %}</p>
      </div>
    </div>
  </div>
{% endblock %}
