{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'Your feedback' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <h1 class="heading-xlarge">{% trans 'Thanks for your query' %}</h1>

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>{% trans 'The Prisoner Money team received your request and will try to reply in one working day.' %}</p>
        {% if return_to %}
          <p><a href="{{ return_to }}" class="link-back">{% trans 'Back' %}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
